.c-meta-list {
    border: 3px solid gray;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 300px;
    width: 98%;
    text-align: left;
}

.c-meta-list__heading {
    font-size: 20px;
}

.c-list-item {
    line-height: 1.5em;
}

.c-list-item__label {
    display:inline;
}

.c-list-item__label:after {
    content: ":"
}

.c-list-item--heavy {
    font-weight: 700;
    margin-bottom: 20px;
}

.c-list-item__value {
    display: inline;
    margin-left: 5px;
}

.c-list-item--positive .c-list-item__value {
    color: green;
}

.c-list-item--negative .c-list-item__value {
    color: red;
}

@media screen and (min-width: 950px) {
    .c-meta-list {
        float: right;
        width: 30%;
    }
}