.c-app {}

.c-app__header {
  background-color: #222;
  padding: 20px;
  color: white;
  text-align: center;
}

.c-app__logo {
  animation: app-logo-spin infinite 20s linear;
  height: 80px;
}

.c-app__main-content {
  width: 98%;
  max-width: 1200px;
  margin: 40px auto;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
